.conteinerPrincipal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 80px;
    background-color: white;
    width: 80%;
    height: 500px;
    border-radius: 30px;
}

