.contact{
    margin-left:120px;
}

.ubicacion{
    display: flex;
    align-items: center;
}
.llamadas{
    margin: 10px 5px;
    display: flex;
    align-items: center;
}
.mensaje{
    display: flex;
    align-items: center;
}
.img-llamada{
    margin: 0 -2px;
}

.pl{
    margin: 0 6px;
}
.msj{
    margin: 0 6px;
}