@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/*Fuentes*/
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;
/*Colores*/
$purble : #666AF5;
$bgainput : #F5F5FF;